CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeFiles/
cmake_install.cmake
Makefile

lib/alure-1.1/CMakeCache.txt
lib/alure-1.1/CPackConfig.cmake
lib/alure-1.1/CPackSourceConfig.cmake
lib/alure-1.1/CMakeFiles/
lib/alure-1.1/cmake_install.cmake
lib/alure-1.1/Makefile

bin/StarJumper

src/CMakeFiles/
src/cmake_install.cmake
src/Makefile

doc/*.aux
doc/*.log
doc/*.gz
